* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

html {
  background-color: #C9CCBB;
}

.main {
  display: flex;
  justify-content: space-between;
  margin: 60px;
  gap: 30px;
}

p {
  font-family: Inter;
}

.not_found {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin-top: 10%;
}