* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

html {
  background-color: #C9CCBB;
}

.main {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 80px;
}